html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    background-color: white;
    color : black;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.block {
    display: block;
    flex-grow: 0;
}

.hidden {
    display: none;
}

#message {
    align-items: end;
    flex-direction: row;
    justify-content: start;
    padding: 0 10px 0 10px;
    flex-grow: 0;
}

.button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    color : black;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
    background-color: #777;
    border-color: black;
    color:white;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: white;
    color : black;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 10px;
    max-width: 75%;
    cursor: pointer;
}

#scene {
    background-color: #5163ad;
    justify-content: space-evenly;
    align-self: center;
    align-items: end;
    width: 100%;
    flex-grow: 0;
}

#questions {
    flex-direction: column;
    width: 100%;
}

.question {
    flex-direction: column;
}

.mots {
    flex-direction: column;
    width: 100%;
}

.mot-container {
    flex-direction: row;
    justify-content: start;
    margin : 0 0 0 30px;
}

.titre {
    text-align: center;
    font-weight: bolder;
}

.mot {
    flex-grow: 0;
    margin: 0 auto 0 0;
}

.inputs {
    justify-content: center;
}

.button:first-child {
    margin-right: 5px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin : 0 auto 0 auto;
    font-weight: normal;
    font-size: small;
}

th, td {
    border : 1px solid black;
    text-align: center;
}

.solution {
    justify-content : center;
    align-items : center;
    font-size: xx-large;
}