html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background-color: white;
    color : black;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.block {
    display: block;
    flex-grow: 0;
}

.hidden {
    display: none;
}

#message {
    align-items: end;
    flex-direction: row;
    justify-content: start;
    padding: 0 10px 0 10px;
    flex-grow: 0;
}

.button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    color : black;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
    background-color: #777;
    border-color: black;
    color:white;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: white;
    color : black;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 10px;
    max-width: 75%;
    cursor: pointer;
}

#scene {
    background-color: #5163ad;
    justify-content: space-evenly;
    align-self: center;
    align-items: end;
    width: 100%;
    flex-grow: 0;
}

#questions {
    flex-direction: column;
}

.question {
    flex-direction: column;
}

.flags {
    flex-direction: column;
    width: 100%;
}

.flag-container {
    flex-direction: row;
    justify-content: space-around;
}

.flag {
    width : 56px;
    height : 48px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    flex-grow: 0;
    margin: 0 auto 0 auto;
}

.flag-0 {
    background-image : url("assets/belgique.png");
}

.flag-1 {
    background-image : url("assets/algerie.png");
}

.flag-2 {
    background-image : url("assets/canada.png");
}

.flag-3 {
    background-image: url("assets/russie.png");
}

.flag-4 {
    background-image: url("assets/finlande.png");
}

.flag-5 {
    background-image: url("assets/france.png");
}

.flag-6 {
    background-image: url("assets/afrique_du_sud.png");
}

.flag-7 {
    background-image: url("assets/royaume_uni.png");
}

.flag-8 {
    background-image: url("assets/chili.png");
}

.flag-9 {
    background-image: url("assets/ouganda.png");
}

.flag-10 {
    background-image: url("assets/italie.png");
}

.flag-11 {
    background-image: url("assets/australie.png");
}

.flag-12 {
    background-image: url("assets/bresil.png");
}

.flag-13 {
    background-image: url("assets/etats_unis.png");
}

.flag-14 {
    background-image: url("assets/inde.png");
}

.flag-15 {
    background-image: url("assets/chine.png");
}

.flag-16 {
    background-image: url("assets/portugal.png");
}

.flag-17 {
    background-image: url("assets/grece.png");
}

.flag-18 {
    background-image: url("assets/vietnam.png");
}

.flag-19 {
    background-image: url("assets/thailande.png");
}

.flag-20 {
    background-image: url("assets/allemagne.png");
}

.flag-21 {
    background-image: url("assets/coree_du_sud.png");
}

.flag-22 {
    background-image: url("assets/panama.png");
}

.flag-23 {
    background-image: url("assets/liban.png");
}

.flag-24 {
    background-image: url("assets/argentine.png");
}

.flag-25 {
    background-image: url("assets/tunisie.png");
}

.flag-26 {
    background-image: url("assets/cuba.png");
}

.flag-27 {
    background-image: url("assets/espagne.png");
}

.flag-28 {
    background-image: url("assets/islande.png");
}

.flag-29 {
    background-image: url("assets/senegal.png");
}

.flag-30 {
    background-image: url("assets/uruguay.png");
}

.flag-31 {
    background-image: url("assets/japon.png");
}

.inputs {
    justify-content: center;
}

.button:first-child {
    margin-right: 5px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin : 0 auto 0 auto;
    font-weight: normal;
    font-size: small;
}

th, td {
    border : 1px solid black;
    text-align: center;
}